# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
calculator/      # your conda env folder if inside repo
*.egg-info/

# ===========================
# VS Code
# ===========================
.vscode/
.history/

# ===========================
# Jupyter Notebook
# ===========================
.ipynb_checkpoints

# ===========================
# Models & Data
# ===========================
# Keras / TensorFlow
*.h5
*.hdf5
*.ckpt

# PyTorch
*.pt
*.pth

# Pickle / datasets
*.pkl
*.npy

# ===========================
# Logs & Misc
# ===========================
*.log
*.out
.DS_Store
